@model QuanLyNhaHang.Models.DataModels.DanhGiaMonAn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DanhGiaMonAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonAn.TenMonAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonAn.TenMonAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDanhGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
